<!--회원정보 수정 화면-->
<!--회원정보 폼 css 는 application.scss 파일로 연결댐-->
<body class="devise_info">
  <div class="container" align="center">
    <h2 style="margin-bottom: 30px;"><span style="border-bottom: 2px solid black; color: black;">회원정보 수정</span></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="mx-auto col-12 col-sm-12 col-md-7">
        <%= devise_error_messages! %>
      </div>
      
      <%= image_tag (current_user.profile_picture), class: "rounded-circle", align: "center", style: "margin-bottom: 50px;" %>
      
      <div class="field">
        <div>프로필 사진(선택옵션, 3MB 이하)</div>
        <%= f.file_field :profile_picture, accept: 'image/jpg,image/png,image/gif' %>
      </div><br/>
    
      <div class="field">
        <div><%= f.label :email %></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div><br/>
      
      <div class="field">
        <div><%= f.label :"닉네임" %></div>
        <%= f.text_field :nickname, autofocus: true, :required => true, class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div><br/>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="field">
        <div style="margin-bottom: 5px;"><span style="color: white;">현재 비밀번호</span></div>
        <%= f.password_field :current_password, :required => true, autocomplete: "off", class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div><br/>
    
      <div class="field">
        <div style="margin-bottom: 5px;">
          <span style="color: white">변경할 비밀번호</span>
          <% if @minimum_password_length %>
            <em>(<%# @minimum_password_length %>8자리 이상, 비밀번호에 문자, 숫자, 특수문자 하나씩은 포함)</em>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "off", class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div><br/>
    
      <div class="field">
        <div style="margin-bottom: 5px;"><span style="color: white">변경할 비밀번호 재 확인</span></div>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div>
    
        <div class="actions" style="margin-top: 60px;">
          <%= f.submit "정보 수정" , class: "btn btn-info" , style: "border-radius: 13px" %>
        </div>
    <% end %>
      
      <hr class="col-5 col-sm-4 col-md-2"/>
      
      <%= button_to "회원 탈퇴".html_safe, registration_path(resource_name), data: { confirm: "회원탈퇴 시 모든 정보를 잃게 됩니다. 정말 탈퇴하시겠습니까?" }, method: :delete , class: "btn btn-danger destroy_btn" %>
  </div>
</body>