<!--회원 가입 하는 것-->
<!--로그인 폼 css 는 application.scss 파일로 연결댐-->
<body class="devise_info">
  <div class="container" align="center">
    <!--<h2 style="margin-bottom: 30px;"><span style="border-bottom: 2px solid white;"</span></h2>-->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="mx-auto col-12 col-sm-12 col-md-8">
        <%= devise_error_messages! %>
      </div>
      
      <h2 style="margin-bottom: 50px;"><span style="border-bottom: 2px solid white; color: white;">SIGN IN</span></h2>
      
      <div class="field wow jello">
        <div>
          <span style="color: white"><span style="color: red;">* </span>이메일</span><br/>
          <em style= "color: white">(naver.com, gmail.com만 허용)</em>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div><br/>
      
      <div class="field wow jello">
        <div><span style="color: red;">* </span><%= f.label :"닉네임" %></div>
        <%= f.text_field :nickname, autofocus: true, :required => true, class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div><br/>
    
      <div class="field password wow jello">
        <div>
          <span style="color: white"><span style="color: red;">* </span>비밀번호</span><br/>
          <em style= "color: white">(8자리 이상, 비밀번호에 문자, 숫자, 특수문자 하나씩은 포함)</em>
        </div>
        <%= f.password_field :password, autocomplete: "off", :required => true, class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div><br/>
    
      <div class="field wow jello">
        <div><span style="color: white"><span style="color: red;">* </span>비밀번호 확인</span></div>
        <%= f.password_field :password_confirmation, autocomplete: "off", :required => true, class: "col-10 col-sm-7 col-md-5 white_underbar_form" %>
      </div><br/>
      
      <div class="field wow jello">
        <div>프로필 사진(선택옵션, 3MB 이하)</div>
        <%= f.file_field :profile_picture, accept: 'image/jpg,image/png,image/gif' %>
      </div>
    
      <div class="actions" align="center">
        <%= f.submit "회원가입" , class: "btn btn-outline-light", style: "width: 150px; border-radius: 15px; margin-top: 40px;" %>
      </div>
    <% end %>
    
    <!--<%= render "devise/shared/info" %>-->
  </div>
</body>