<div class="board d-none d-md-block" style="background: url('<%= asset_path 'board_banner1.jpg' %>') no-repeat fixed; background-size: 100% 70%; background-position:0px -180px;">
  <div class="container" align="left">
    <%= link_to "카테고리 설정", bulletins_path, class: "board_title" %>
  </div>
</div>
<div class="board_mobile d-md-none" style="background: url('<%= asset_path 'board_banner1.jpg' %>') no-repeat center center/cover scroll;">
  <%= link_to "카테고리 설정", bulletins_path, class: "board_title" %>
</div>

<%# 경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
  <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% elsif notice %>
  <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>

<div class="container">
  <div class="row" style="margin-top: 30px;">
    <div class="col-2 col-sm-2 col-md-1 category_board_row" align="center">No.</div>
    <div class="col-5 col-sm-5 col-md-3 category_board_row"align="center">게시판 이름</div>
    <div class="col-5 col-sm-5 col-md-2 category_board_row" align="center">제작시기</div>
    <div class="d-none d-md-block col-md-6 category_board_row" align="center">제한사항</div>
  </div>
  
  <% if @bulletins.empty? %>
    <h2 class="text-center" style="margin-top: 30px;">게시글이 없습니다.</h2>
  <% else %>
    <% @bulletins.each do |bulletin| %>
      <%= render 'bulletins/index/index_list', bulletin: bulletin %>
    <% end %>
  <% end %>
  
  <div style="margin-top: 50px;">
    <%= paginate @bulletins %>
  </div>
  
  <% if can? :new, @bulletins %>
    <div align="right" style="margin-top: 20px;"><%= link_to '새 카테고리 생성', new_bulletin_path, class: 'btn btn-primary' %></div>
  <% end %>
</div>

<!--제이쿼리-->
<script>
    $('h1.bulletins_path').load('mouseenter', function(){
  $(this).toggleClass('spaced');
  });
  </script>
  
  <script>
    $('.hypen').load('click', function(){
    $('#fade-in').toggleClass('show');
  });
  </script>
</body>