<div class="navbar d-sm-none">
	<div class="container">
	  <a href="#myinfo"><i class="fas fa-info-circle"></i></a>
	  <a href="#board"><i class="fas fa-clipboard-list"></i></a>
	  <a href="#reply"><i class="far fa-comments"></i></a>
  </div>
</div>

<body class="w3-light-grey w3-content" style="max-width: 1920px">
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-black w3-animate-left" style="z-index:3; width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <br><br><br>
      <img src="<%= asset_path 'voicell_kakao_thum.png' %>" style="width:85%;" class="w3-round"><br><br>
      <h4><b>마이 페이지</b></h4>
      <p class="w3-text-grey">enjoy the voicell</p>
      <hr/>
    </div>
    <div class="w3-bar-block">
      <a href="#myinfo" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fas fa-info-circle"></i> 내 정보</a> 
      <a href="#board" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-clipboard-list"></i> 내가 쓴 게시글</a> 
      <a href="#reply" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="far fa-comments"></i> 내가 쓴 댓글</a>
    </div>
  </nav>
  <!-- Sidebar/menu -->

  <div id="fullpage">
	<!-- 첫 번째 영역 : 마이 페이지 -->
	<div class="section " id="section00">
		<div class="intro" style="margin-left: 450px;" style="min-height: 600px;">
		  <div align="left" class="container">
		    <div class="row">
		      <h1><%= current_user.nickname %></h1>
		      <h3 style="margin-left: 20px;"><%= current_user.email %></h3>
		    </div>
  			<hr/>
  			<h2>" <span style="color: white"><%= current_user.created_at.in_time_zone("Asia/Seoul").strftime('%Y년 %m월 %d일') %></span> 부터 함께 해왔어요! "</h2><br/>
  			보유 권한 : 
				<% if @user.has_role? :admin %>
					<b><%= link_to "관리자", rails_admin_path, style: "color: #0664b7;" %></b>
				<% end %>
				<% if @user.has_role? :block_red %>
				<font color="red"><b>정지계정<font color="yellow">■</font></b></font>
				<% elsif @user.has_role? :block_yellow %>
				  <font color="red"><b>정지계정<font color="red">■</font></b></font>
				<% else %>
				  <% if @user.has_role? :normal %>
			      일반회원
				  <% end %>
				<% end %>
				<br/>
				마지막 접속시간 : <%= current_user.last_sign_in_at != nil ? current_user.last_sign_in_at.in_time_zone("Asia/Seoul").strftime('%Y년 %m월 %d일 %H시 %M분') : "<span style='color: red;'>시간조회 불가</span>".html_safe %><br/>
  			마지막 접속IP : <%= current_user.last_sign_in_ip %><br/>
  			<%= link_to "정보 수정", edit_user_registration_path, class: "offset-md-10 btn btn-outline-light", style: "border: 1px solid white; padding: 15px; margin-top: 50px; font-size: 20px;" %>
			</div>
		</div>
	</div>
	
	<!-- 두 번째 영역 : 내가 쓴 게시글 -->
	<div class="section" id="section1">
    <div class="slide" id="slide1">
			<div class="intro" style="min-height: 600px; margin-left: 350px;">
				<h1 style="color:white">내가 쓴 게시글</h1>
				<div class="container">
					<div class="row" style="margin-top: 30px;">
						<div class="d-none d-sm-block col-sm-8 col-md-7 index_board_row" align="center">제목</div>
						<div class="d-none d-sm-block col-sm-4 col-md-3 index_board_row" align="center">작성날짜</div>
						<div class="d-none d-md-block col-md-2 index_board_row" align="center">작성 게시판</div>
						<div class="d-sm-none col-md-2 index_board_row" align="center">작성 게시글 목록</div>
					</div>
  				<% @posts.each do |x| %>
    			  <% if current_user.id == x.user_id %>
    			    <%= render 'users/render/mypage_post', post: x %>
    			  <% end %>
    			<% end %>
    			
					<div style="margin-top: 50px;">
						<%= paginate @posts %>
					</div>
  			</div>
			</div>
		</div>
	</div>
	
	<!-- 세 번째 영역 : 내가 쓴 댓글 -->
	<div class="section" id="section2">
		<div class="intro" style="min-height: 600px; margin-left: 350px;">
			<h1 style="color:white">내가 쓴 댓글 </h1>
				<div class="container">
					<div class="row" style="margin-top: 30px;">
						<div class="col-8 col-sm-8 col-md-7 index_board_row" align="center">댓글 제목</div>
						<div class="col-4 col-sm-4 col-md-3 index_board_row" align="center">작성날짜</div>
						<div class="d-none d-md-block col-md-2 index_board_row" align="center">작성 게시판</div>
					</div>
  				<% @comments.each do |x| %>
    			  <% if current_user.id == x.user_id %>
    			    <%= render 'users/render/mypage_comment', post: x %>
    			  <% end %>
    			<% end %>
    			
					<div style="margin-top: 50px;">
						<%= paginate @comments %>
					</div>
  			</div>
		</div>
	</div>
</div>
</body>