<!--패스워드 잃어 버렸을 때-->
<!--로그인 폼 css 는 application.scss 파일로 연결댐-->
<div class="login">
    <div align="center" class="error_msg wow jello">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
    </div>
    <div class="field login_id wow jello" align="center">
      <%= f.label :email , style: "color: white" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "col-6 col-sm-4 col-md-3 white_underbar_form"  %>
    </div>
  
    <div class="actions forgot_send_btn wow jello" align="center">
      <%= f.submit "비밀번호 설정 이메일로 보내기" , class: "btn btn-outline-light" %>
    </div>
  <% end %>
  
  <div align="center">
    <%= render "devise/shared/links" %>
  </div>
</div>