<tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td>
      <%= link_to '열람', (@bulletin.present? ? [post.bulletin, post] : post), class: 'btn btn-default' %>
      <% if can? :update, post %>
        <%= link_to '편집', (@bulletin.present? ? edit_bulletin_post_path(post.bulletin, post) : edit_post_path(post)), class: 'btn btn-default' %>
      <% end %>
      
      <% if can? :destroy, post %>
        <%= link_to '삭제', (@bulletin.present? ? [post.bulletin, post] : post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
      <% end %>
    </td>
</tr>