<!-- 메인페이지 JS 영역 -->
<!--[if IE]>
	<script type="text/javascript">
		 var console = { log: function() {} };
	</script>
<![endif]-->

<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
			menu: '#menu',
			anchors: ['main', 'voicell', '3rdPage'],
			sectionsColor: ['white', 'white', 'white'],
			autoScrolling: false
		});
	});
</script>
<!-- 메인페이지 JS 영역 종료 -->
<div style="margin-top: 200px;"></div>

<div id="fullpage">
    <!-- 첫 번째 페이지 시작 -->
	<div class="section" id="section0">
		<div class="intro">
            <div class="bg01" id="bg01">
                <div class="bm01">
                	<div class="vingle" style="padding-left: 44%">
                		<div class="vingle01"></div>
                		<div class="vingle02"></div>
                		<svg viewbox="0 0 200 200">
                			 <h1 class="typo" style="padding-top: 75px; padding-left: 20px;">VOICELL</h1>
                    	</svg>
                    </div>
                    <!--<div class="bara" style="border-bottom: 2px solid black"></div>-->
                    <div class="typo01 col-10 col-sm-5 col-md-4 mx-auto" style="padding: 5px; font-size: 20px; margin-top: 200px;">
						많은 Voicer 들에게 원하는 녹음물을 받으세요<br/>
						Listener들에게 당신의 목소리를 들려주고 보상을 받으세요
					</div>
					<div class="btn btn-outline-dark enter" id="enter">
						입장하기
					</div>
                </div>
            </div>
		</div>
	</div>
	<!-- 첫 번째 페이지 종료 -->
	
	<!-- 두 번째 페이지 시작 -->
	<div class="section" id="section1">
		<div class="intro">
			<h1>Just use </h1>
			<p>autoScrolling:false</p>
		</div>
	</div>
	<!-- 두 번째 페이지 종료 -->
	
	<!-- 세 번째 페이지 시작 -->
	<div class="section" id="section2">
		<div class="container">
			<div style="margin-top: 100px;" align="center">
				<h1>/app/views/homes/index.html.erb</h1>
				<h3>이 곳은 홈페이지 메인이 될 곳임.</h3>
				<%= alert %>
				<%= notice %>
				<div style="margin-top: 30px;"></div>
				<%= link_to "Rails DB 이동", rails_db_path, class: "btn btn-info" %>
				<% if not user_signed_in? %>
				<%= link_to "로그인", user_session_path, class: "btn btn-primary" %>
				<%= link_to "회원가입", new_user_registration_path, class: "btn btn-dark" %>
				<% else %>
				<%= link_to "마이페이지", "/users/page/#{current_user.id}", class: "btn btn-success" %>
				<%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
				<% end %>
			</div>
			<hr/>
			<div align="left">
				<h5 style="font-weight: bold">로그인 정보</h5>
				<% if user_signed_in? %>
					<div style="white-space: pre-wrap;">
						아이디 : <%= current_user.email %>
						유저 No. : <%= current_user.id %>
					</div>
				<% else %>
					로그인 되어있지 않음.
				<% end %>
				<hr/>
				<h5 style="font-weight: bold">메뉴</h5>
				<span><%= link_to "카테고리 설정", bulletins_path %></span>
				<% Bulletin.all.each do |x| %>
				<span style="margin-left: 10px;"><%= link_to "#{x.title}", bulletin_posts_path(x.id) %></span>
				<% end %>
				<hr/>
				
				
				<div style="white-space: pre-wrap;">
					<h5 style="font-weight: bold">루비/레일즈 정보</h5>
					<b>Ruby</b> : 2.4.0
					<b>Rails</b> : 5.1.6
				</div>
				
				<div style="white-space: pre-wrap;">
					<h5 style="font-weight: bold">인수인계 사항</h5>
					1. Devise 설치
					2. 부트스트랩 4.1 설치
					3. 폰트어썸 설치 (For 아이콘 표현, <%= link_to "사이트 참고(클릭)", "https://fontawesome.com/icons" %>)
					* 사용예시 : <i class="fab fa-github-alt"></i> <i class="fas fa-comment-dots"></i> <i class="far fa-comments"></i>
					4. 기본 글꼴 : 나눔고딕 설정
					5. .gitignore 파일 셋팅 (일부 파일은 github에 자료가 push되는 것을 제한.)
					6. Rails Local 시간 환경을 '대한민국'으로 설정.
					7. Gem : Devise 한국어 번역 처리
					8. Gem : RailsDB 설치
					9. /app/assets/stylesheets/application.scss 파일 일부 수정
					10. Gem : J-Query 설치
					11. 게시판(카테고리 형식) 설정
					12. cancancan+rolify 구현
					13. paranoia 구현 (bulletin, post)
					14. therubyracer Gem 설치 (서버 설정 전용 Gem)
					15. Figaro Gem 설치 (코드보안)
					16. Rails Admin 설치 (어드민 페이지)
					17. Nav-bar 디자인 참고 : https://bootstrapmade.com/demo/BizPage/
					18. TinyMce 설치 (게시글 에디터)
					19. PostgreSQL DB 설치
					20. impressionist Gem 설치 (조회수)
					<%= content_tag(:span, "이 이후 인수인계 사항은 <b style='color: orange'>README.md</b>에 기록해주세요.".html_safe, style: "color: red") %>
				</div>
				
				<div style="white-space: pre-wrap;">
					<h5 style="font-weight: bold">알아두면 좋은 사이트</h5>
					1. 코딩 지식인 - Stackoverflow <%= link_to "클릭", "http://stackoverflow.com", target: "_blank" %>
					2. Rails Gem 추천 사이트 <%= link_to "클릭", "https://www.ruby-toolbox.com/", target: "_blank" %>
					3. Rails 사용설명 블로그 <%= link_to "클릭", "http://blog.naver.com/kbs4674", target: "_blank" %>
				</div>
			</div>
		</div>
	</div>
	<!-- 세 번째 페이지 종료 -->
</div>