<div class="row" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
    <%= link_to post, class: "col-5 col-sm-5 col-md-6" do %>
        <%= content_tag(:div, post.title, class: "row etc", style: "padding: 10px; border-left: 5px solid #73e6c1;") %>
    <% end %>
    <%= content_tag(:div, " 25", class: "col-2 col-sm-2 col-md-1 far fa-comments", align: "right", style: "padding: 10px;") %>
    <%= content_tag(:div, "#{time_ago_in_words(post.created_at)} 전", class: "col-3 col-sm-3 col-md-2", align: "center", style: "padding: 10px;") %>
    <%= content_tag(:div, post.user != nil ? post.user.nickname : post.user_nickname, class: "col-3 col-sm-3 col-md-2", align: "center", style: "padding: 10px;") %>
    <%= content_tag(:div, post.unique_impression_count, class: "col-2 col-sm-2 col-md-1", align: "center", style: "padding: 10px;") %>
</div>