<div class="card" style="width: 18rem;">
    <% if post.thumnail_image.present? %>
        <img class="card-img-top" src="<%= post.thumnail_image %>" style="width: 100%; height: 159px;">
        <img class="card-img-cover" src="/img/vc_thumb03.png" style="width: 100%; height:159px;">
    <% else %>
        <img class="card-img-top" src="/img/vc_thumb01.png" style="width: 100%; height: 159px;">
    <% end %>
    <div class="card-body">
        <h5 class="card-title"><%= content_tag(:div, post.title, class: "post_title etc", style: post.deleted? ? "color: red;" : "") %></h5>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6" style="margin-top: -3px;">
                <% if (post.left_time.strftime('%Y-%m-%d') >= Time.zone.now.strftime('%Y-%m-%d')) %>
                    <small>
                        <% if post.price.to_i/ 10000 >= 1 && post.price.to_i/10000 < 10  %>
                            약 <%= post.price/10000 %>만원 대
                        <% elsif post.price.to_i/ 100000 >= 1 && post.price.to_i/100000 < 10 %>
                            약 <%= post.price/100000 %>0만원 대
                        <% elsif post.price.to_i/ 1000000 >= 1 %>
                            약 <%= post.price/1000000 %>00만원 이상
                        <% end %>
                    </small>
                <% end %>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <% if post.left_time.strftime('%Y-%m-%d') == Time.zone.now.strftime('%Y-%m-%d') %>
                    <%= content_tag(:small, " 오늘까지", class: "fas fa-stopwatch post_title etc", style: post.deleted? ? "color: red;" : "color: red;") %>
                <% elsif post.left_time < Time.now %>
                    <%= content_tag(:small, " 기간마감", class: "fas fa-stopwatch post_title etc", style: post.deleted? ? "color: red;" : "color: red;") %>
                <% elsif post.left_time - Time.now <= 48.hours %>
                    <%= content_tag(:small, " 1일 남음", class: "fas fa-stopwatch post_title etc", style: post.deleted? ? "color: red;" : "") %>
                <% else %>
                    <%= content_tag(:small, " #{time_ago_in_words(post.left_time)} 남음", class: "fas fa-stopwatch post_title etc", style: post.deleted? ? "color: red;" : "") %>
                <% end %>
                <%= content_tag(:small, " #{post.comment_threads.count}", class: "fas fa-comment-dots post_title etc", style: post.deleted? ? "color: red; margin-left: 10px;" : "margin-left: 10px;") %>
            </div>
        </div>
    </div>
</div>